@import "tailwindcss";

@theme {
  --color-neutral-900: #163A34;
  --color-neutral-600: #395852;
  --color-neutral-300: #D0DCD9;
  --color-neutral-200: #E0E6E3;
  --color-neutral-100: #F6F5F1;
  --color-neutral-0: #FFF;
  --color-orange-500: #FE9F6B;
  --color-teal-500: #49AC9B;
  --color-indigo-500: #697DDB;
  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
  --font-nunito: "Nunito", sans-serif;
}


@layer components {
  .text-present-1 {
    @apply text-[72px] font-extrabold leading-[1.1];
    letter-spacing: -2px;
  }

  .text-present-1-tablet {
    @apply text-[64px] leading-[1.1] font-extrabold;
    letter-spacing: -2px;
  }
  .text-present-1-mobile {
    @apply text-[52px] leading-[1.1] font-extrabold;
    letter-spacing: -2px;
  }

  .text-present-2 {
    @apply text-[48px] leading-[1.2] font-extrabold;
    letter-spacing: -2px;
  }
  .text-present-2-mobile {
    @apply text-[40px] leading-[1.2] font-extrabold;
    letter-spacing: -2px;
  }
  .text-present-3 {
    @apply text-[32px] leading-[1.3] font-bold;
    letter-spacing: -1px;
  }
  .text-present-4 {
    @apply text-[24px] leading-[1.3] font-bold;
    letter-spacing: -1px;
  }
  .text-present-5 {
    @apply text-[20px] leading-[1.4] font-bold;
    letter-spacing: -0.5px;
  }

  .text-present-6 {
    @apply text-[20px] leading-[1.5] font-medium;
    letter-spacing: -0.4px;
  }
  .text-present-7 {
    @apply text-[18px] leading-[1.5] font-semibold;
    letter-spacing: -0.3px;

  }

  .text-present-8 {
    @apply text-[16px] leading-[1.5] font-bold;
    letter-spacing: -0.3px;
  }

  .text-present-9 {
    @apply text-[16px] leading-[1.5] font-medium;
    letter-spacing: -0.3px;
  }

  .text-present-10 {
    @apply text-[14px] leading-[1.5] font-bold;
    letter-spacing: -0.3px;
  }

  .active {
    border-bottom: 4px solid var(--color-orange-500) !important;
  }

}